.big_text{
    color: white;
    font-size: 61px;
    font-weight: 700;
    line-height: 62px;
    text-align: center;
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7% auto;
    width: 80%;
}
.card{
    flex: 0 0 calc(30% - 20px);
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;
    margin: 0 10px 25px 10px;
    text-align: center;
    background-color: #252525;
    border-radius: 7px;
}

.text{
    color:white;
    text-align: left;
    width: 70%;
    margin: 10% 20%;
}
.cehrsr{
    font-size: 25px;
    color: #00AFA0;
}
.easy{
    font-size: 25px;
    color: #28a128;
}
.auto{
    font-size: 25px;
    color: orange;
}
.uiu{
    font-size: 25px;
    color: orangered;
}
.fund{
    font-size: 25px;
    color: #F98012;
}
.tech{
    font-size: 25px;
    color: #569AE9;
}
.bike{
    font-size: 25px;
    color: #E68F72
}
.fire{
    font-size: 25px;
    color:red;
}